*
{
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    transition: 1s;

}

button 
{
    border-radius: 6px;
    padding: 10px;
    background-color: #7e7e7e13;
    height: 70px;
}

#theme
{
    position: relative;
    width: 100%;
    height: 100%;
    transition: 1s;

}

.abs
{
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid teal;
    width:  70px;
    height: 30px;
}
#circle
{
    width: 29px;
    height: 29px;
    border-radius: 15px;
    background-color: teal;
    border: 1px solid teal;
    margin: 0;
    position: absolute;
    transition: 1s;
}

.container
{
    
    margin: 0 auto;
    margin-top: 50px;
    width: 320px;
}

input 
{
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid teal;
    border-radius: 5px;
    height: 50px;
    background: transparent;
}

.num
{
    width: 32%;
    margin-bottom: 5px;
}

.function_btn
{
    width: 32.5%;
}


#zero
{
    width: 100%;
}

#numbers
{
    width: 75%;
}

.wrapper
{
    display: flex;
    justify-content: space-between;
}

sup
{
    font-size: 12px;
}
.actions
{
    display: flex;
    flex-direction: column;
}

.action
{
    margin-bottom: 5px;
    width: 70px;
}

#actions2 button
{
    width: 24%;
}

#swich
{
    width: 40px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid teal;
    position: relative;
    margin: 0;
    padding: 0;
}

#toggle
{
    height: 18px;
    width: 18px;
    border-radius: 10px;
    background: teal;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid teal;
}