.container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 150px;
}

.main__img {
  position: fixed;
  z-index: -2;
  left: 0;
  top: 0;
  min-width: 2000px;
}
.main {
  max-width: 900px;
  margin: 0 auto;
}

.filter {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  background-color: #0000008e;
  min-width: 100%;
  min-height: 100%;
}

.main__header {
  font-size: 70px;
  color: #fff;
  font-weight: bold;
  margin-top: 170px;
}
.main__subtext {
  color: #fff;
}

.about {
  max-width: 900px;
  display: flex;
  margin: 0 auto;
}

.about__header {
  font-size: 38px;
}

.about__description {
  font-size: 18px;
  margin-top: 23px;
  font-weight: lighter;
}

.price {
  padding: 135px 0;
  max-width: 900px;
  margin: 0 auto;
}

.price__header {
  font-size: 38px;
  margin-bottom: 20px;
}

.price__subtext {
  font-size: 22px;
  font-weight: lighter;
  margin-bottom: 90px;
}

table {
  max-width: 700px;
  margin: 0 auto;
}

td {
  padding: 20px !important;
}

.portfolio__header,
.advantages__header {
  font-size: 30px;
}

.portfolio__subtext,
.advantages__subtext {
  font-size: 20px;
  font-weight: lighter;
}

.advantages__check {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.advantages__row {
  margin-bottom: 40px;
}

.item__header {
  font-size: 16px;
  margin-bottom: 14px;
  font-weight: bold;
}
.item__subtext {
  font-size: 14px;
  font-weight: lighter;
}

.advantages__subtext {
  margin-bottom: 45px;
}
.advantages {
  padding-bottom: 90px;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.about__wrapper {
  width: 50%;
  padding-right: 40px;
}

.about__row {
  margin-bottom: 20px;
}

.about__container {
  width: 325px;
  height: 230px;
  overflow: hidden;
}

.table__header {
  font-size: 24px;
  font-weight: bold;
}

.table__price {
  font-size: 18px;
}

@media (max-width: 900px) {
  .about {
    display: block;
  }
  .about__wrapper {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
  }
  .advantages__row {
    display: block;
  }
  .advantages__item {
    margin-bottom: 40px;
  }
}
